html{
   box-sizing: border-box;
   font-size: 16px;
}

*, *::before, *::after{
   box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul{
   margin: 0;
   padding: 0;
   font-weight: normal;
}

ol, ul{
   list-style: none;
}

a {
   text-decoration: none;
}

body{
   font-family: 'Roboto', sans-serif;
}

.header {
   margin-top: 24px;
   height: 850px;
}



/* Nav */



.logo {
   position: absolute;
}

.nav {
   display: flex;

   margin-left: 40px;
   margin-bottom: 35px;
  
}

.navigation {
   display: flex;
   margin-left: 240px;
   margin-top: 11px;
}

.navigation li {
   padding-right: 34px;
   font-size: 16px;
   font-weight: 400;
}

.navigation a {
   color: #050038;
}

.navigation li:last-child {
   padding-right: 0px
}

.icon-global {
   padding-left: 881px;
}

.btn-regist {
   margin-left: 48px;
   width: 157px;
   height: 50px;
   border-radius: 24px;

   border: 1px solid #4262FF;
   background-color: #4262FF;
}

.btn-regist a {
   font-size: 16px;
   font-weight: 400;
   color: #fff
}



/* Container 1 */



.container_1 {
   width: 600px;
   padding-top: 58px;
   padding-left: 140px;
}

.cont_1-title {
   padding-bottom: 19px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;
   letter-spacing: 1px;

   color: #050038;
}

.cont_1-description {
   padding-bottom: 55px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   
   color: #050038;
}

.input {
   margin-bottom: 10px;

   text-align: center;
   width: 440px;
   height: 48px;
   border-radius: 32px;
   border: 1px solid #9B99AF;
}

.btn-start {
   margin-bottom: 10px;

   width: 440px;
   height: 51px;
   border-radius: 32px;

   border: 1px solid #4262FF;
   background-color: #4262FF;
}

.btn-start a {
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;

   color: #fff;
}

.start-desc {
   padding-bottom: 47px;

   font-size: 14px;
   font-weight: 400;
   line-height: 20px;

   color: #050038;
}

.sponsors {
   display: flex;
}

.q-usr {
   padding-right: 20px;
   padding-top: 3px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #050038;
}

.spon img {
   padding-right: 19px;
}

.site-pr {
   position: absolute;
   margin-top: -500px;
   margin-left: 900px;
}



/* Container 2 */



.container_2 {
   width: 600px;
   padding-left: 140px;
   height: 470px;
}

.cont_2-title {
   padding-bottom: 19px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;

   color: #050038;
}

.cont_2-description {
   padding-bottom: 39px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: rgba(5, 0, 56, 0.60)
}

.cont_2-learn_more {
   padding-bottom: 100px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #4262FF;
}

.cont_2-learn_more::after {
   content: "";
   width: 133px;
   display: block;
   border: 1px solid #4262FF;
}

.cont2-img {
   position: absolute;
   margin-top: -438px;
   margin-left: 886px;
}



/* Container 3 */



.container_3 {
   padding-top: 183px;
   height: 625px;
}

.cont_3-title {
   padding-bottom: 19px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;

   color: #050038;
}

.cont_3-description {
   padding-bottom: 39px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: rgba(5, 0, 56, 0.60)
}

.cont_3-learn_more {
   padding-bottom: 100px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #4262FF;
}

.cont_3-learn_more::after {
   content: "";
   width: 133px;
   display: block;
   border: 1px solid #4262FF;
}

.cont_3_in_cont {
   padding-left: 1090px;
}

.cont3-img {
   position: absolute;
   margin-top: -430px;
   margin-left: 160px;
}



/* Container 4 */



.container_4 {
   padding-top: 180px;
   margin-left: 140px;
   height: 872px;
}

.cont_4-title {
   font-size: 48px;
   font-weight: 400;
   line-height: 56px;
   padding-bottom: 34px;
}

.buttons4 button{
   margin-right: 79px;
   margin-bottom: 56px;
   height: 48px;

   border-radius: 24px;

   border: 1px solid #f2f2f2;
   background-color: #fff;

}

.buttons4 a {
   color: #050038;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   padding-left: 18px;
   padding-right: 18px;
}

.buttons4 .active4 {
   background-color: #F1F3FD;
}

.p-title {
   margin-bottom: 25px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #050038;
}

.p-desc {
   margin-bottom: 32px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #050038;
}

.cont_4-learn_more {
   padding-bottom: 100px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #4262FF;
}

.cont_4-learn_more::after {
   content: "";
   width: 133px;
   display: block;
   border: 1px solid #4262FF;
}

.cont4-img {
   margin-top: -245px;
   margin-left: 788px;
}



/* Container 5 */



.container_5 {
   padding-top: 180px;
   margin-left: 140px;
   height: 870px;
}

.cont5-title {
   font-size: 48px;
   font-weight: 400;
   line-height: 56px;
   padding-bottom: 34px;
}

.buttons5 button{
   margin-right: 86px;
   margin-bottom: 56px;
   height: 48px;

   border-radius: 24px;

   border: 1px solid #f2f2f2;
   background-color: #fff;

}

.buttons5 a {
   color: #050038;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   padding-left: 18px;
   padding-right: 18px;
}

.buttons5 .active5 {
   background-color: #F1F3FD;
}

.marks {
   margin-bottom: 32px;
}

.marks div {
   display: flex;
   padding-bottom: 18px;
}

.marks p {
   margin-top: 3px;
   margin-left: 14px;
}

.marks img {
   margin-top: 0px;
}

.cont_5-learn_more {
   padding-bottom: 100px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #4262FF;
}

.cont_5-learn_more::after {
   content: "";
   width: 133px;
   display: block;
   border: 1px solid #4262FF;
}

.dop {
   margin-top: 70px;
   
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: rgba(5, 0, 56, 0.60);
}

.other {
   display: flex;
   padding-top: 23px;
}

.other img {
   margin-right: 40px;
}

.cont5-img {
   position: absolute;
   margin-top: -410px;
   margin-left: 787px;
}



/* Container 6 */



.container_6 {
   margin-top: 150px;
   padding-top: 118px;

   width: 100%;
   height: 1027px;

   background-color: #FFD02F;
}

.cont6-main_title {
   text-align: center;
}

.cont6-title {
   padding-bottom: 18px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;

   color: #050038;
}

.contact {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #050038;
}



.line {
   margin-bottom: 60px;
   margin-top: -2px;

   text-align: center;
   width: 264px;

   color: #050038;
}

.container-grid {
   margin-left: 54px;
   margin-right: 80px;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto auto auto ;

}

.grid-item {
   padding: 80px;
   font-size: 30px;
   text-align: center;
}

.grid-item p {
   margin-top: 37px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}



/* Container 7 */

.container_7 {
   height: 650px;
}


.cont7-main_title {
   margin-top: 118px;
   text-align: center;
}

.cont7-main_title h3 {
   margin-bottom: 27px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;

   color: #050038;
}

.cont7-btn {
   width: 264px;
   height: 46px;

   border-radius: 24px;
   border: 1px solid #4262FF;
   background-color: #fff;
}

.cont7-btn a {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   color: #4262FF;
}

.container-grid2 {
   margin-top: 90px;
   margin-left: 220px;
   margin-right: 130px;
   justify-content: space-around;

   display: grid;
   grid-gap: 120px;
   grid-template-columns: 400px 400px 400px;

}

/* .grid2-item {
   background-color: #FFD02F;
} */


.grid2-item p {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: rgba(5, 0, 56, 0.60);
}

.pers {
   display: flex;
   margin-top: 62px;
}

.pers img {
   position: absolute;
}

.pers p {
   padding-left: 60px;

   color: rgba(5, 0, 56, 0.60); 
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}



/* Container_jointo */



.container_jointo_around {
   height: 750px;
}

.container_jointo {
   margin-top: 100px;
   margin-left: 250px;
   margin-right: 250px;
   padding-top: 118px;
   text-align: center;


   height: 584px;

   border-radius: 16px;
   background-color: #050038;
}

.container_jointo h3 {
   margin-bottom: 19px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;

   color: #fff;
}

.container_jointo p, .contact2 {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: rgba(255, 255, 255, 0.60);
}

.container_jointo div hr {
   margin-top: -2px;
   margin-bottom: 40px;
   width: 269px;
   color: rgba(255, 255, 255, 0.60);
}

.container_jointo button {
   width: 251px;
   height: 48px;

   border-radius: 32px;
   border: 1px solid #4262FF;
   background-color: #4262FF;
}

.container_jointo button a {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #fff;
}



/* Footer */



.footer {
   height: 1000px;
   width: 100%;

   background-color: #050038;
}


.container-grid3 {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
}

.grid3-item {
   color: #fff;
}