html{
   box-sizing: border-box;
   font-size: 16px;
}

*, *::before, *::after{
   box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul{
   margin: 0;
   padding: 0;
   font-weight: normal;
}

ol, ul{
   list-style: none;
}

a {
   text-decoration: none;
}

body{
   font-family: 'Roboto', sans-serif;
}

.header {
   margin-top: 24px;
   height: 800px;
}



/* Nav */



.logo {
   position: absolute;
}

.nav {
   display: flex;

   margin-left: 40px;
   margin-bottom: 35px;
  
}

.navigation {
   display: flex;
   margin-left: 240px;
   margin-top: 11px;
}

.navigation li {
   padding-right: 34px;
   font-size: 16px;
   font-weight: 400;
}

.navigation a {
   color: #050038;
}

.navigation li:last-child {
   padding-right: 0px
}

.icon-global {
   padding-left: 881px;
}

.btn-regist {
   margin-left: 48px;
   width: 157px;
   height: 50px;
   border-radius: 24px;

   border: 1px solid #4262FF;
   background-color: #4262FF;
}

.btn-regist a {
   font-size: 16px;
   font-weight: 400;
   color: #fff
}



/* Container 1 */



.container_1 {
   width: 600px;
   padding-top: 58px;
   padding-left: 140px;
}

.cont_1-title {
   padding-bottom: 19px;

   font-size: 48px;
   font-weight: 400;
   line-height: 56px;
   letter-spacing: 1px;

   color: #050038;
}

.cont_1-description {
   padding-bottom: 55px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   
   color: #050038;
}

.input {
   margin-bottom: 10px;

   text-align: center;
   width: 440px;
   height: 48px;
   border-radius: 32px;
   border: 1px solid #9B99AF;
}

.btn-start {
   margin-bottom: 10px;

   width: 440px;
   height: 51px;
   border-radius: 32px;

   border: 1px solid #4262FF;
   background-color: #4262FF;
}

.btn-start a {
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;

   color: #fff;
}

.start-desc {
   padding-bottom: 47px;

   font-size: 14px;
   font-weight: 400;
   line-height: 20px;

   color: #050038;
}

.sponsors {
   display: flex;
}

.q-usr {
   padding-right: 20px;
   padding-top: 3px;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;

   color: #050038;
}

.spon img {
   padding-right: 19px;
}

.site-pr {
   position: absolute;
   margin-top: -500px;
   margin-left: 900px;
}